body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F4D1AE;
    color: #2b2839;
    border-bottom: 6px solid black;
    border-top:  6px solid black;
}

.border-blue {
    border: 1px dotted blue;
}

